{% extends "base.html" %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/inicio.css' %}" >

<!-- As a heading -->
{% block content %}
{% if messages %}
  {% for message in messages %}
  <div{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
  {% endfor %}
        
{% endif %}
<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Iniciar Sesion</h3>
      <div class="card-text">

        <form  method="post">{% csrf_token %}
          
            {% for campo in form %}
              <div class="form-group">
                {{ campo.label_tag }}
                {{ campo}}
        
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">iniciar sesion</button>
            
            <div><a href="{% url 'registro' %}">Crear cuenta</a></div>   
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock  %}
   
