{% extends "base.html" %}
<!-- As a heading -->
{% block content %}

<form  method="post">{% csrf_token %}
  {% if messages %}
      {% for message in messages %}
      <div{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
      {% endfor %}

  {% endif %}
    {% for campo in form %}
      <div class="form-group">
        {{ campo.label_tag }}
        {{ campo}}

      </div>
    {% endfor %}
    <input type="submit" value="iniciar sesion">
    <div><a href="{% url 'registro' %}">Crear cuenta</a></div>
    

</form>

{% endblock  %}
<!--  <div class="form-group">
      <label for="correo" class="form-label mt-4">Correo Electronico</label>
      <input type="email" id="correo" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="contrasena" class="form-label mt-4">Contraseña</label>
      <input type="password"  id="contrasena" placeholder="Password">
    </div>  
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </fieldset>
</form>-->   
