{% extends "base.html" %}

{% block content %}
<h1>{{ nombre }}</h1>
<a href="{% url 'modificar' id %}">ver mi informacion</a>
<a href="{% url 'modificar' id %}">Sacar Cita</a>


<hr>
<div class="container table-responsive py-5"> 
<h1>Medicamentos</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Medicamento</th>
        <th scope="col">Fecha de prescripcion</th>
        <th scope="col">Indicacion</th>
        <th scope="col">Meses de tratamieto</th>
      </tr>
    </thead>
    <tbody>
      {% for i in lista_medicinas %}
        <tr>
          <td>{{ i.medicamento }}</td>
          <td>{{ i.fecha_prescripcion }}</td>
          <td>{{ i.indicacion }}</td>
          <td>{{ i.mese_tratamiento }}</td>
        {% endfor %}
        </tr>
    </tbody>

  </table>
</div>

<div class="container table-responsive py-5"> 
<h1>Diagnosticos</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Diagnostico</th>
        <th scope="col">Atendido por</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        {% for i in lista_diagnosticos %}
          <td>{{ i.fecha }}</td>
          <td>{{ i.diagnostico }}</td>
          <td>{{ i.doctor }}</td>
          <td>{{ i.estado }}</td>

        {% endfor %}
        </tr>
    </tbody>

  </table>
</div>

{% endblock  %}
