{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Citas y más</span>

      <a class="navbar-brand mb-0 h1" aria-current="page" href="{% url 'inicio' %}">Cerrar Sesion</a>
</nav>

<div class="title text-center">
  <h2 class="display-5">
    <i class="fas fa-user-alt text-success"></i>{{ nombre }}
    <i><a href="{% url 'modificar' %}" class="btn btn-success">ver mi informacion</a> </i>
    <i><a href="{% url 'cita' %}" class="btn btn-info">Agendar cita</a> </i>


  </h2>
</div>
<hr>

<div class="container table-responsive py-5"> 
  <h3>Proximas citas</h3>
  
    <table class="table table-striped mt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Dia</th>
          <th scope="col">Servicio</th>
          <th scope="col">Especialidad</th>
        </tr>
      </thead>
      <tbody>
        {% for i in lista_citas %}
          <tr>
            <td>{{ i.fecha_cita }}</td>
            <td>{{ i.servicio }}</td>
            <td>{{ i.especialidad }}</td>

          </tr>
          {% endfor %}
  
      </tbody>
  
    </table>
  </div>


<div class="container table-responsive py-5"> 
<h3>Medicamentos</h3>

  <table class="table table-striped mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Medicamento</th>
        <th scope="col">Fecha de prescripcion</th>
        <th scope="col">Indicacion</th>
        <th scope="col">Meses de tratamieto</th>
      </tr>
    </thead>
    <tbody>
      {% for i in lista_medicinas %}
        <tr>
          <td>{{ i.medicamento }}</td>
          <td>{{ i.fecha_prescripcion }}</td>
          <td>{{ i.indicacion }}</td>
          <td>{{ i.mese_tratamiento }}</td>
        </tr>
        {% endfor %}

    </tbody>

  </table>
</div>

<div class="container table-responsive py-5"> 
<h3>Diagnosticos</h3>

  <table class="table table-striped mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Diagnostico</th>
        <th scope="col">Atendido por</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        {% for i in lista_diagnosticos %}
          <td>{{ i.fecha }}</td>
          <td>{{ i.diagnostico }}</td>
          <td>{{ i.doctor }}</td>
          <td>{{ i.estado }}</td>

        </tr>
        {% endfor %}

    </tbody>

  </table>
</div>

{% endblock  %}
