{% extends "base.html" %}
{% load static %}




<!-- As a heading -->
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Citas y más</span>

      <a class="navbar-brand mb-0 h1" aria-current="page" href="{% url 'inicio' %}">Cerrar Sesion</a>
</nav>
<div class="col-md-4 offset-md-4">
  
  <h2></h2>
  <div class="card">

    <div class="card-body">
      <h3 class="card-title text-center">Registro Medicamentos</h3>
        <form   method="post" autocomplete="off">{% csrf_token %}
              
                {% for campo in form %}
                <div class="form-group">
                    {{ campo.label_tag }}
                    {{ campo}}
            
                  </div>
                {% endfor %}
          <input type="submit" value="Agregar" class="btn btn-success btn-block add-btn">
          <a href="{% url 'medicamentos' idUs=idPaciente %}" class="btn btn-info btn-block add-btn">Volver</a>

        </form>
    </div>
  </div>
</div>
  {% endblock  %}