
{% extends "base.html" %}
{% load static %}




<!-- As a heading -->
{% block content %}
<div class="container mt-5">
  <div class="title text-center">
    <h1 class="display-5">
      <i class="fas fa-user-alt text-success"></i> <strong>Medicamentos</strong>
    </h1>
  </div>
  <div class="main row">
    <div class="col-sm-12 col-md-4">
      <form   method="post" autocomplete="off">
        
        {% csrf_token %}
            
              {% for campo in form %}
              <div class="form-group">
                  {{ campo.label_tag }}
                  {{ campo}}
          
                </div>
              {% endfor %}
        
<!--      <input type="submit" value="Edit Book" class="btn btn-success btn-block edit-btn" disabled> -->
        <input type="submit" value="Submit" class="btn btn-success btn-block add-btn">
      </form>
    </div>
    <div class="col-sm-12 col-md-8">
    <a href="#" class="btn btn-success btn-block add-btn">Volver</a>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th >Medicamento</th>
            <th >Fecha de prescripcion</th>
            <th >Indicacion</th>
            <th >Meses de tratamieto</th>
            <th>opciones</th>


          </tr>
        </thead>
        <tbody id="book-list">
          {% for i in lista_medicinas %}
          <tr>
            <td>{{ i.medicamento }}</td>
            <td>{{ i.fecha_prescripcion }}</td>
            <td>{{ i.indicacion }}</td>
            <td>{{ i.mese_tratamiento }}</td>
            <td><a href="#" class="btn btn-danger btn-sm delete">X</a></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>    
{% endblock  %}
