
{% extends "base.html" %}
{% load static %}




<!-- As a heading -->
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Citas y más</span>

      <a class="navbar-brand mb-0 h1" aria-current="page" href="{% url 'inicio' %}">Cerrar Sesion</a>
</nav>
<div class="container mt-5">

  <div class="main row">
    <div class="col-md-4 offset-md-4">
      <div class="card">

        <div class="card-body">
          <h3 class="card-title text-center">Registro Diagnostico</h3>

          <form   method="post" autocomplete="off">
            
            {% csrf_token %}
                
                  {% for campo in form %}
                  <div class="form-group">
                      {{ campo.label_tag }}
                      {{ campo}}
              
                    </div>
                  {% endfor %}
                  <div class="form-group">
                    <label for="estado">Estado</label>
                    <select class="form-control" name="estado" id="estado">
                      <option value="Activo">Activo</option>
                      <option value="Progreso">Progreso</option>
                    </select>
                  </div>
                
            
    <!--      <input type="submit" value="Edit Book" class="btn btn-success btn-block edit-btn" disabled> -->
            <input type="submit" value="Submit" class="btn btn-success btn-block add-btn">
            <a href="{% url 'diagnosticos' idUs=idPaciente %}" class="btn btn-info btn-block add-btn">Volver</a>

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>    
{% endblock  %}
