{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Citas y más</span>
</nav>
{% if messages %}
  {% for message in messages %}
  <div{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</div>
  {% endfor %}
        
{% endif %}
<div class="container mt-5">
  <div class="main row">
    <div class="col-md-6 offset-md-3">
      <div class="card">

        <div class="card-body">
          <h3 class="card-title text-center">Crear Cuenta</h3>

  <form  method="post">{% csrf_token %}
    {% for campo in form %}
      <div>
        {{ campo.label_tag }}
        {{ campo}}

      </div>
    {% endfor %}
    <input type="submit" value="Registrarme" class="btn btn-info btn-block add-btn">

</form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}
